.contenedor{
	width: 80%;
	max-width: 1366px;
	margin: 0 auto;
	overflow: hidden;
}
body{
	background-color: #F1DDDD;
}
.tit{
	position: absolute;
	top: 10%;
	left: 0%;
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 391%;
	font-family: Yu Gothic UI Light;
	line-height: 70%;
}
.cua{
	position: absolute;
	width: 100%;
	height: 10%;
	top: 90%;
	left: 0%;
	background-color: #D84F4F;
	box-sizing: border-box;
		padding: 1px;
}
.bo{
	position: absolute;
	top: 90.5%;
	left: 41%;
	background-color: #6AE0B5;
	border-radius:30px;
	width: 4%;
	height: 9%;
	box-sizing: border-box;
	padding: 1px;
	}
.bo1{
	position: absolute;
	top: 90.5%;
	left: 59%;
	background-color: #6AE0B5;
	border-radius:30px;
	width: 4%;
	height: 9%;
	box-sizing: border-box;
	padding: 1px;
}
	.pag{
		position: absolute;
		top: 93%;
		left: 36%;
		color: white;
		text-decoration: none;

	}
	.pag1{
		position: absolute;
		top: 93%;
		left: 52.2%;
		color: white;
		text-decoration: none;

	}
	.im1{
		text-align: center;
		width: 80%;
		left: 10%;
		top: 10%;
		position: absolute;
		height: 80%;
		box-sizing: border-box;
		padding: 1px;
	}
	.im2{
		text-align: center;
		width: 80%;
		left: 10%;
		top: 10%;
		position: absolute;
		height: 80%;
		box-sizing: border-box;
		padding: 1px;
	}
	.info{
		position: absolute;
		background-color: #E0F1F5;
		top: 25%;
		left: 10%;
		height: 55%;
		width: 80%;
		border-color: #0C3F57;
		border: solid.2px;
	}
	.tex1{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex2{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 115%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex3{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 115%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex4{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 125%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.sig{
		box-sizing: border-box;
		padding: 1px;
		background-color: #D84F4F;
		color: white;
		position: absolute;
		top: 81%;
		font-family: Yu Gothic UI Light;
		font-size: 100%;
		text-align: center;
		left: 50.5%;
		width: 6%;
		border: solid.1px;
		border-color: black;
		line-height: 250%;
		height: 7.5%;
		display: block;

	}
	.ant{
		box-sizing: border-box;
		padding: 1px;
		background-color: #D84F4F;
		color: white;
		position: absolute;
		top:81%;
		font-family: Yu Gothic UI Light;
		font-size: 100%;
		text-align: center;
		left: 43.5%;
		width: 6%;
		border: solid.1px;
		border-color: black;
		line-height: 250%;
		height: 7.5%;
		display: none;

	}
	.elige{
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 10%;
		font-size: 200%;
		text-align: center;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.caso1{
		position: absolute;
		top: 30%;
		left: 2.5%;
		width: 20%;
		height: 20%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-color: black;
		border-width: 1px;
		border-style: solid;
		background-color: #D84F4F;
	}
	.caso2{
		position: absolute;
		top: 30%;
		left: 27.5%;
		width: 20%;
		height: 20%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.caso3{
		position: absolute;
		top: 30%;
		left: 52.5%;
		width: 20%;
		height: 20%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		background-color: #D84F4F;
	}
	.caso4{
		position: absolute;
		top: 30%;
		left: 77.5%;
		width: 20%;
		height: 20%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.posival{
		position: absolute;
		top: 20%;
		left: 35%;
		width: 30%;
		height: 30%;
		text-align: center;
		font-size: 100%;
		font-family: Yu Gothic UI Light;
		color: white;
		line-height: 170%;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.posi{
		position: absolute;
		top: 70%;
		height: 10%;
		width: 30%;
		left: 35%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.encovalo{
		position: absolute;
		top: 90%;
		height: 10%;
		width: 30%;
		left: 35%;
		text-align: center;
		font-size: 75%;
		color: white;
		line-height: 100%;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.proceso1{
		position: absolute;
		top: 25%;
		height: 60%;
		width: 20%;
		left: 70%;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.proceso2{
		position: absolute;
		top: 25%;
		height: 60%;
		width: 20%;
		left: 90%;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.intentalo{
		color: white;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.volver{
		position: absolute;
		left: 0%;
		height: 10%;
		top: 85%;
		color: white;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.volver2{
		position: absolute;
		left: 80%;
		height: 10%;
		top: 92%;
		color: white;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.disti1{
		position: absolute;
		top: 50%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.a11{
		position: absolute;
		top: 70%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.boton2{
		font-family: Yu Gothic UI Light;
		position: absolute;
		top: 90%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		color: white;
	}
	.ponerprogresion1{
		position: absolute;
		top: 25%;
		height: 50%;
		left: 30%;
		width: 70%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.dataazar1{
		position: absolute;
		top: 50%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.posiazar{
		position: absolute;
		top: 63.3%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.a31{
		position: absolute;
		top: 76.6%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.progre3{
		position: absolute;
		top: 89.9%;
		height: 10%;
		left: 0%;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
		background-color: #D84F4F;
		color: white;
	}
	.cuadridista{
		position: absolute;
		top: 25%;
		left: 25%;
		height: 70%;
		width: 20%;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.cuadri2{
		position: absolute;
		top: 25%;
		left: 50%;
		height: 70%;
		width: 50%;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.volver3{
		position: absolute;
		left: 80%;
		height: 10%;
		top: 90%;
		color: white;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.progre1{
		position: absolute;
		top: 35%;
		left: 25%;
		height: 50%;
		width: 25%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.progre13{
		position: absolute;
		top: 25%;
		left: 25%;
		height: 50%;
		width: 25%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.progre11{
		position: absolute;
		top: 32%;
		left: 55%;
		height: 50%;
		width: 25%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.an2{
		position: absolute;
		top: 30%;
		left: 0%;
		height: 10%;
		width: 20%;
		color: black;
		font-family: Yu Gothic UI Light;
		border-width: 1px;
		border-color: black;
		border-style: solid;
	}
	.n2{
		position: absolute;
		top: 50%;
		left: 0%;
		height: 10%;
		width: 20%;
		color: black;
		font-family: Yu Gothic UI Light;
		border-width: 1px;
		border-color: black;
		border-style: solid;
	}
	.comprobar22{
		position: absolute;
		top: 70%;
		left: 0%;
		height: 10%;
		width: 20%;
		color: white;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.progresion1{

	}
	.ponerprogresion2{
		position: absolute;
		top: 30%;
		height: 50%;
		width: 64%;
		left: 30%;
		font-size: 100%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
@media screen and (max-width: 1080px){
	.tex1{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 300%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex2{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 300%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex3{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 300%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tex4{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		font-size: 300%;
		font-family: Yu Gothic UI Light;
		background-color: none;
		text-align: justify;
		box-sizing: border-box;
		padding: 1px;
	}
	.tit{
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 450%;
	font-family: Yu Gothic UI Light;
	line-height: 100%;
	font-weight: bold;
}
	.info{
		position: absolute;
		background-color: #E0F1F5;
		top: 10%;
		left: 10%;
		height: 55%;
		width: 80%;
		border-color: #0C3F57;
		border: solid.2px;
	}
	.bo{
	position: absolute;
	top: 80%;
	left: 5%;
	background-color: #6AE0B5;
	border-radius:30px;
	width: 20%;
	height: 9%;
	box-sizing: border-box;
	padding: 1px;
	}
.bo1{
	position: absolute;
	top: 90%;
	left: 5%;
	background-color: #6AE0B5;
	border-radius:30px;
	width: 20%;
	height: 9%;
	box-sizing: border-box;
	padding: 1px;
}
.pag{
		position: absolute;
		top: 82%;
		left: 30%;
		color: white;
		height: 5%;
		font-size: 750%;
		text-decoration: none;
	}
	.pag1{
		position: absolute;
		font-size: 750%;
		top: 92%;
		left: 30%;
		height: 5%;
		color: white;
		text-decoration: none;
	}
	.sig{
		box-sizing: border-box;
		padding: 1px;
		background-color: #D84F4F;
		color: white;
		position: absolute;
		top: 67%;
		font-family: Yu Gothic UI Light;
		font-size: 500%;
		text-align: center;
		left: 55%;
		width: 35%;
		border: solid.1px;
		border-color: black;
		line-height: 200%;
		height: 7.5%;
		display: block;

	}
.ant{
		box-sizing: border-box;
		padding: 1px;
		background-color: #D84F4F;
		color: white;
		position: absolute;
		top: 67%;
		font-family: Yu Gothic UI Light;
		font-size: 500%;
		text-align: center;
		left: 10%;
		width: 35%;
		border: solid.1px;
		border-color: black;
		line-height: 200%;
		height: 7.5%;
		display: block;

	}
	.cua{
	position: absolute;
	width: 100%;
	height: 21%;
	top: 79%;
	left: 0%;
	background-color: #D84F4F;
	box-sizing: border-box;
		padding: 1px;
}
.elige{
		position: absolute;
		top: 9.5%;
		left: 0%;
		width: 100%;
		height: 9%;
		font-size: 210%;
		text-align: center;
		line-height: 80%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.caso1{
		position: absolute;
		top: 27.5%;
		left: 10%;
		width: 80%;
		height: 9%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-color: black;
		border-width: 1px;
		border-style: solid;
		background-color: #D84F4F;
	}
	.caso2{
		position: absolute;
		top: 45.5%;
		left: 10%;
		width: 80%;
		height: 9%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.caso3{
		position: absolute;
		top: 63.5%;
		left: 10%;
		width: 80%;
		height: 9%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-color: black;
		border-style: solid;
		border-width: 1px;
		background-color: #D84F4F;
	}
	.caso4{
		position: absolute;
		top: 81.5%;
		left: 10%;
		width: 80%;
		height: 9%;
		text-align: center;
		font-size: 150%;
		font-family: Yu Gothic UI Light;
		color: black;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.posival{
		position: absolute;
		top: 40%;
		left: 0%;
		width: 30%;
		height: 30%;
		text-align: center;
		font-size: 100%;
		font-family: Yu Gothic UI Light;
		color: white;
		line-height: 170%;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.posi{
		position: absolute;
		top: 72%;
		height: 9%;
		width: 30%;
		left: 0%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.encovalo{
		position: absolute;
		top: 83.5%;
		height: 9%;
		width: 30%;
		left: 0%;
		text-align: center;
		font-size: 75%;
		color: white;
		line-height: 100%;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
	}
	.proceso1{
		position: absolute;
		top: 40%;
		height: 60%;
		width: 20%;
		left: 40%;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.proceso2{
		position: absolute;
		top: 40%;
		height: 40%;
		width: 40%;
		left: 65%;
		font-size: 75%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.progresion1{
		position: absolute;
		top: 30%;
		height: 10%;
		width: 100%;
		left: 0%;
		font-size: 100%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.ponervalor1{
		position: absolute;
		font-size: 100%;
		top: 90%;
		left: 40%;
	}
	.intentalo{
		color: white;
		width: 30%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.ponerprogresion2{
		position: absolute;
		top: 30%;
		height: 50%;
		width: 64%;
		left: 40%;
		font-size: 100%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.volver{
		position: absolute;
		left: 0%;
		height: 9%;
		top: 95%;
		color: white;
		width: 20%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
		line-height: 200%;
	}
	.volver2{
		position: absolute;
		left: 80%;
		height: 9%;
		top: 92%;
		color: white;
		width: 20%;
		line-height: 200%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	.disti1{
		position: absolute;
		top: 30%;
		height: 10%;
		left: 0%;
		width: 35%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
		font-size: 120%;
	}
	.a11{
		position: absolute;
		top: 45%;
		height: 10%;
		left: 0%;
		width: 35%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
		font-size: 120%;
	}
		.boton2{
		font-family: Yu Gothic UI Light;
		position: absolute;
		top: 65%;
		height: 10%;
		left: 0%;
		width: 35%;
		font-size: 120%;
		line-height: 200%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		color: white;
	}
	.ponerprogresion1{
		position: absolute;
		top: 25%;
		height: 50%;
		left: 30%;
		width: 70%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.dataazar1{
		position: absolute;
		top: 35%;
		height: 10%;
		left: 0%;
		width: 30%;
		font-size: 120%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.posiazar{
		position: absolute;
		top: 50%;
		height: 10%;
		left: 0%;
		width: 30%;
		font-size: 120%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.a31{
		position: absolute;
		top: 65%;
		height: 10%;
		left: 0%;
		width: 30%;
		font-size:120%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.progre3{
		position: absolute;
		top: 80%;
		height: 20%;
		left: 0%;
		width: 30%;
		line-height: 200%;
		font-size: 105%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		color: black;
		font-family: Yu Gothic UI Light;
		background-color: #D84F4F;
		color: white;
	}
	.cuadridista{
		position: absolute;
		top: 25%;
		left: 35%;
		height: 40%;
		width: 32.5%;
		color: black;
		font-size:70%;
		font-family: Yu Gothic UI Light;
	}
	.cuadri2{
		position: absolute;
		font-size:70%;
		top: 25%;
		left: 67.5%;
		height: 40%;
		width: 37.5%;
		color: black;
		font-family: Yu Gothic UI Light;
	}
	.volver3{
		position: absolute;
		left: 70%;
		height: 10%;
		top: 90%;
		color: white;
		width: 30%;
		text-align: center;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
		line-height: 120%;
	}
	.progre1{
		position: absolute;
		top: 30%;
		left: 40%;
		height: 30%;
		width: 60%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
.progre13{
		position: absolute;
		top: 20%;
		left: 40%;
		height: 50%;
		width: 60%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
	.progre11{
		position: absolute;
		top: 60%;
		left: 40%;
		height: 30%;
		width: 60%;
		font-family: Yu Gothic UI Light;
		color: black;
	}
.an2{
		position: absolute;
		top: 25%;
		left: 0%;
		height: 10%;
		width: 35%;
		font-size: 200%;
		color: black;
		font-family: Yu Gothic UI Light;
		border-width: 1px;
		border-color: black;
		border-style: solid;
	}
	.n2{
		position: absolute;
		top: 38%;
		left: 0%;
		height: 10%;
		width: 35%;
		font-size: 200%;
		color: black;
		font-family: Yu Gothic UI Light;
		border-width: 1px;
		border-color: black;
		border-style: solid;
	}
	.comprobar22{
		position: absolute;
		top: 51%;
		left: 0%;
		height: 10%;
		width: 35%;
		font-size: 100%;
		color: white;
		border-width: 1px;
		border-color: black;
		border-style: solid;
		background-color: #D84F4F;
		font-family: Yu Gothic UI Light;
	}
	
}
